label.slds-form-element__label(*ngIf="label", [attr.for]="uid", [nglInternalOutlet]="label")

.slds-form-element__control.slds-input-has-icon.slds-input-has-icon_right()
  input.slds-input(#inputEl,
                   cdkOverlayOrigin,
                   #overlayOrigin="cdkOverlayOrigin",
                   [id]="uid",
                   type="text",
                   autocomplete="off",
                   [placeholder]="placeholder",
                   [disabled]="disabled",
                   [readOnly]="readonlyInput",
                   (keydown)="onKeyboardInput($event)",
                   (input)="onInputChange($event.target.value)",
                   (blur)="onBlur()")
  button.slds-button.slds-button_icon.slds-input__icon.slds-input__icon_right(type="button",
                                                                              title="Select a date",
                                                                              [disabled]="disabled",
                                                                              (click)="openCalendar()")
    svg.slds-button__icon(nglIconName="utility:event")
    span.slds-assistive-text Select a date

ng-template(cdkConnectedOverlay,
            #cdkOverlay="cdkConnectedOverlay",
            [cdkConnectedOverlayPositions]="overlayPositions",
            [cdkConnectedOverlayOrigin]="overlayOrigin",
            [cdkConnectedOverlayOpen]="open",
            (attach)="onAttach()",
            (detach)="onDetach()")
  ngl-datepicker.slds-dropdown([attr.aria-hidden]="!open",
                               [date]="date",
                               [monthNames]="monthNames",
                               [dayNamesShort]="dayNamesShort",
                               [dayNamesLong]="dayNamesLong",
                               [showToday]="showToday",
                               [dateDisabled]="dateDisabled",
                               (dateChange)="pickerSelection($event)",
                               (nglClickOutside)="closeCalendar(false)")
